<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
      <head>
        <style>
          html, body {
            background: #1d2126;
          }
        </style>
        <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
        <script>
          gapi.hangout.onApiReady.add(function(eventObj) {
            console.log("Begin");
            var teamworkUrl = gadgets.views.getParams()["appData"];
            console.log("URL");
            var name = gapi.hangout.getLocalParticipant().person.displayName;
            console.log("NAME") ;
            var hangoutUrl = gapi.hangout.getHangoutUrl();
            console.log("Teamwork URL: ");
            console.log(teamworkUrl);
            function navigate() {
              var src = teamworkUrl;
              window.location = encodeURI(src);
              console.log("Encode");
            }
            console.log("TSet asdfsavalusadfsde pre");
            if (teamworkUrl) {
              console.log("TSet value pre");
              gapi.hangout.data.setValue('teamworkUrl', teamworkUrl);
              console.log("TSet value");
            }

            var interval = setInterval(function() {
              console.log("GET PRE");
              teamworkUrl = gapi.hangout.data.getValue('teamworkUrl');
              console.log("GET");
              if (teamworkUrl) {
                clearInterval(interval);
                console.log("Clear");
                navigate();
                console.log("PN");
              }
            }, 50);

          });
        </script>
      </head>

      <body></body>
    </html>
    
]]></Content>
</Module>
